.exclusive10 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo10 {
  width: 118px;
  position: relative;
  height: 24px;
}
.home5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header26,
.header27,
.header29 {
  width: 48px;
  position: relative;
  height: 24px;
}
.header27,
.header29 {
  width: 66px;
}
.header29 {
  width: 61px;
}
.header-parent3,
.logo-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent3 {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-semibold-size);
  font-family: var(--title-14px-semibold);
}
.logo-parent8 {
  gap: var(--gap-141xl);
}
.what-are-you5 {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.component-2-icon5 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.what-are-you-looking-for-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.search-component-set5 {
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.vector-icon40 {
  position: absolute;
  height: 56.25%;
  width: 62.5%;
  top: 21.88%;
  right: 18.75%;
  bottom: 21.88%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child3 {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--secondary-2);
}
.div42 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-parent2 {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 46.88%;
  left: 50%;
}
.wishlist8 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.cart1-icon11 {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 25%;
  right: 21.88%;
  bottom: 0;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div43 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 31.25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-parent3 {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 3.13%;
  right: 3.13%;
  bottom: 43.75%;
  left: 46.88%;
}
.cart1-with-buy5 {
  width: 32px;
  position: relative;
  height: 32px;
}
.wishlist-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--text);
}
.header25,
.search-component-set-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--title-12px-regular-size);
  font-family: var(--title-14px-semibold);
}
.header25 {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: var(--gap-111xl);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-36px-semibold);
}
.checkout-child {
  position: absolute;
  top: 142px;
  left: 0;
  width: 1440px;
  height: 0;
}
.account6,
.roadmap-child2 {
  position: relative;
  opacity: 0.5;
}
.account6 {
  line-height: 21px;
}
.roadmap-child2 {
  width: 6px;
  height: 11.7px;
  object-fit: contain;
}
.nothing7 {
  position: relative;
  line-height: 21px;
}
.roadmap1 {
  position: absolute;
  top: 222px;
  left: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--title-14px-semibold-size);
}
.billing-details {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  font-weight: 500;
}
.billing-details-wrapper {
  position: absolute;
  top: 323px;
  left: 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--heading-36px-semibold-size);
  font-family: var(--heading-36px-semibold);
}
.span {
  color: var(--secondary-2);
}
.first-name {
  position: relative;
  line-height: 24px;
  opacity: 0.4;
}
.frame-item {
  width: 470px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.first-name-parent,
.frame-parent41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent41 {
  gap: var(--gap-13xl);
}
.icon-checkbox {
  width: 24px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.save-this-information {
  position: relative;
  line-height: 24px;
}
.frame-parent40,
.icon-checkbox-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent40 {
  position: absolute;
  top: 401px;
  left: 135px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.underline-icon15 {
  width: 1440px;
  position: relative;
  max-height: 100%;
  opacity: 0.5;
}
.icon-copyright5 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper8,
.icon-copyright-parent3,
.underline-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-copyright-parent3 {
  gap: var(--gap-7xs);
}
.frame-wrapper8,
.underline-parent3 {
  opacity: 0.6;
}
.underline-parent3 {
  position: absolute;
  top: 376px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.4;
}
.get-10-off5,
.subscribe5 {
  position: relative;
  font-family: var(--title-14px-semibold);
}
.subscribe5 {
  font-size: var(--title-20px-regular-size);
  line-height: 28px;
  font-weight: 500;
}
.get-10-off5 {
  font-size: var(--title-16px-semibold-size);
  line-height: 24px;
}
.frame-parent44 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent43,
.frame-parent44,
.send-mail5 {
  display: flex;
  justify-content: flex-start;
}
.send-mail5 {
  width: 217px;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--text);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-13xl);
  font-size: var(--title-16px-semibold-size);
  font-family: var(--title-14px-semibold);
}
.frame-parent43 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-36px-semibold);
}
.support5 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.bijoy-sarani-dhaka5 {
  width: 175px;
  position: relative;
  line-height: 24px;
  white-space: pre-wrap;
  display: inline-block;
}
.bijoy-sarani-dhaka-dh-1515-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-16px-semibold-size);
}
.save-3-with5 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.qr-code-icon5 {
  width: 80px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.appstore-icon5,
.googleplay-icon5 {
  width: 110px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.appstore-icon5 {
  object-fit: cover;
}
.googleplay-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.qr-code-parent3,
.save-3-with-app-new-user-only-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.save-3-with-app-new-user-only-parent3 {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--title-12px-regular-size);
}
.frame-parent42,
.icon-facebook-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent42 {
  position: absolute;
  top: 80px;
  left: 135px;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--title-20px-regular-size);
  color: var(--text);
}
.footer5,
.g92-2-500x500-1-icon2 {
  position: absolute;
  overflow: hidden;
}
.footer5 {
  top: 1355px;
  left: 0;
  background-color: var(--button);
  width: 1440px;
  height: 440px;
  color: var(--bg);
}
.g92-2-500x500-1-icon2 {
  height: 78.15%;
  width: 90.56%;
  top: 11.11%;
  right: 3.89%;
  bottom: 10.74%;
  left: 5.56%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.gamepad-cart-small1 {
  width: 54px;
  position: relative;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.gamepad-cart-small-parent,
.lcd-monitor-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-191xl);
}
.gamepad-cart-small-parent {
  gap: var(--gap-5xl);
}
.g27cq4-500x500-1-icon2 {
  position: absolute;
  height: 72.22%;
  width: 92.59%;
  top: 14.81%;
  right: 3.7%;
  bottom: 12.96%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lcd-monitor-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 204px;
}
.frame-parent47,
.monitor-cart-small-parent,
.subtotal-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent47,
.subtotal-group {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.subtotal-group {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-288xl);
}
.underline-icon16 {
  width: 422px;
  position: relative;
  max-height: 100%;
  opacity: 0.4;
}
.frame-parent48,
.shipping-group,
.total-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-295xl);
}
.frame-parent48,
.total-group {
  gap: var(--gap-316xl);
}
.frame-parent48 {
  flex-direction: column;
  gap: var(--gap-base);
}
.radio-button-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.image-32-icon {
  position: absolute;
  height: 60%;
  width: 90%;
  top: 20%;
  right: 5%;
  bottom: 20%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bkash {
  width: 42px;
  position: relative;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-30-icon {
  position: absolute;
  height: 40%;
  width: 90%;
  top: 30%;
  right: 5%;
  bottom: 30%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mastercard-icon {
  width: 42px;
  position: relative;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-33-icon {
  position: absolute;
  height: 65%;
  width: 93.33%;
  top: 17.5%;
  right: 3.33%;
  bottom: 17.5%;
  left: 3.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bkash-parent,
.frame-parent52 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bkash-parent {
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent52 {
  align-items: center;
  gap: 155px;
}
.coupon-code2 {
  position: absolute;
  top: calc(50% - 12px);
  left: 24px;
  line-height: 24px;
  opacity: 0.5;
}
.coupon-code-container {
  width: 300px;
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--button);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.view-all-products9 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button8 {
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-29xl);
  color: var(--text);
}
.coupon-code1,
.frame-parent46 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent46 {
  position: absolute;
  top: 433px;
  left: 778px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.checkout {
  width: 100%;
  position: relative;
  background-color: var(--bg);
  height: 1795px;
  text-align: left;
  font-size: var(--title-16px-semibold-size);
  color: var(--button);
  font-family: var(--title-14px-semibold);
}
