.exclusive4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo4 {
  width: 118px;
  position: relative;
  height: 24px;
}
.home2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  cursor: pointer;
}
.header11 {
  width: 48px;
  position: relative;
  height: 24px;
}
.contact4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header12,
.header13,
.header14 {
  width: 66px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.header13,
.header14 {
  width: 48px;
}
.header14 {
  width: 61px;
}
.header-container,
.logo-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-container {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-semibold-size);
  font-family: var(--title-14px-semibold);
}
.logo-parent2 {
  gap: var(--gap-213xl);
}
.what-are-you2 {
  width: 153px;
  position: relative;
  line-height: 18px;
  display: none;
  opacity: 0.5;
}
.component-2-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.what-are-you-looking-for-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.search-component-set2 {
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.wishlist-icon2 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.cart1-icon1,
.group-item {
  position: absolute;
  bottom: 0;
}
.cart1-icon1 {
  height: 75%;
  width: 75%;
  top: 25%;
  right: 21.88%;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-item {
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--secondary-2);
}
.div11 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 31.25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-group {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 3.13%;
  right: 3.13%;
  bottom: 43.75%;
  left: 46.88%;
}
.cart1-with-buy2,
.user-icon3 {
  width: 32px;
  position: relative;
  height: 32px;
}
.cart1-with-buy2 {
  display: none;
}
.user-icon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.wishlist-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--text);
}
.header10,
.search-component-set-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search-component-set-container {
  gap: var(--gap-5xl);
  font-size: var(--title-12px-regular-size);
  font-family: var(--title-14px-semibold);
}
.header10 {
  position: absolute;
  top: 86px;
  left: 135px;
  gap: var(--gap-191xl);
}
.log-in-child {
  position: absolute;
  top: 140px;
  left: 0;
  width: 1440px;
  height: 0;
}
.dlbeatsnoop-1-icon1 {
  position: absolute;
  top: 75px;
  left: -8px;
  width: 919px;
  height: 706px;
  object-fit: cover;
}
.side-image1 {
  width: 805px;
  position: relative;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-powderblue);
  height: 781px;
  overflow: hidden;
  flex-shrink: 0;
}
.log-in-to {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  font-weight: 500;
}
.enter-your-details1 {
  position: relative;
  font-size: var(--title-16px-semibold-size);
  line-height: 24px;
  font-family: var(--title-14px-semibold);
}
.log-in-to-exclusive-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.email-or-phone1 {
  position: relative;
  line-height: 24px;
  opacity: 0.4;
}
.underline-icon8 {
  width: 370px;
  position: relative;
  max-height: 100%;
  opacity: 0.5;
}
.email-or-phone-number-group {
  gap: var(--gap-5xs);
}
.email-or-phone-number-group,
.frame-parent18,
.frame-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent19 {
  gap: var(--gap-21xl);
  font-size: var(--title-16px-semibold-size);
  font-family: var(--title-14px-semibold);
}
.frame-parent18 {
  gap: var(--gap-29xl);
}
.view-all-products2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button1 {
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-29xl);
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forget-password {
  position: relative;
  line-height: 24px;
  color: var(--secondary-2);
}
.frame-parent20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-68xl);
  font-size: var(--title-16px-semibold-size);
  color: var(--text);
  font-family: var(--title-14px-semibold);
}
.frame-parent17,
.side-image-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.side-image-group {
  position: absolute;
  top: 200px;
  left: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-110xl);
  font-size: var(--heading-36px-semibold-size);
}
.underline-icon10 {
  width: 1440px;
  position: relative;
  max-height: 100%;
  opacity: 0.5;
}
.icon-copyright2 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.copyright-rimel-20222 {
  position: relative;
  line-height: 24px;
}
.frame-wrapper5,
.icon-copyright-container,
.underline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-copyright-container {
  gap: var(--gap-7xs);
}
.frame-wrapper5,
.underline-container {
  opacity: 0.6;
}
.underline-container {
  position: absolute;
  top: 376px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.4;
}
.subscribe2 {
  position: relative;
  font-size: var(--title-20px-regular-size);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--title-14px-semibold);
}
.frame-parent22,
.send-mail2 {
  display: flex;
  justify-content: flex-start;
}
.send-mail2 {
  width: 217px;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--text);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-13xl);
  font-size: var(--title-16px-semibold-size);
  font-family: var(--title-14px-semibold);
}
.frame-parent22 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-36px-semibold);
}
.support2 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.bijoy-sarani-dhaka2 {
  width: 175px;
  position: relative;
  line-height: 24px;
  white-space: pre-wrap;
  display: inline-block;
}
.bijoy-sarani-dhaka-dh-1515-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-16px-semibold-size);
}
.save-3-with2 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.qr-code-icon2 {
  width: 80px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.appstore-icon2,
.googleplay-icon2 {
  width: 110px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.appstore-icon2 {
  object-fit: cover;
}
.googleplay-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.qr-code-container,
.save-3-with-app-new-user-only-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.save-3-with-app-new-user-only-container {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--title-12px-regular-size);
}
.frame-parent21,
.icon-facebook-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent21 {
  position: absolute;
  top: 80px;
  left: 135px;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--title-20px-regular-size);
  color: var(--text);
}
.footer2 {
  position: absolute;
  top: 1121px;
  left: 0;
  background-color: var(--button);
  width: 1440px;
  height: 440px;
  overflow: hidden;
  font-size: var(--title-16px-semibold-size);
  color: var(--bg);
  font-family: var(--title-14px-semibold);
}
.log-in1 {
  width: 100%;
  position: relative;
  background-color: var(--bg);
  height: 1561px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-24px-bold-size);
  color: var(--button);
  font-family: var(--heading-36px-semibold);
}
.what-are-you10 {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.component-2-icon10 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.what-are-you-looking-for-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.search-component-set10 {
  width: 186px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--title-12px-regular-size);
  color: var(--button);
  font-family: var(--title-14px-semibold);
}
